.magento-wrapper {
	width: 100%;
}

.magento-wrapper:before,
.magento-wrapper:after,
.magento-wrapper ul.products:before,
.magento-wrapper ul.products:after {
	display: table;
	content: normal;
}

.magento-wrapper ul.products:after,
.magento-wrapper:after {
	clear: both;
}

.magento-wrapper * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.magento-wrapper *:before,
.magento-wrapper *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.magento-wrapper ul.products {
	margin: 0;
	padding: 0;
	width: 100%;
}

.magento-wrapper ul.products li.product {
	list-style: none;
	display: block;
	margin: 0 0 10px 0;
	padding: 0 5px;
}

.magento-wrapper ul.products li.product .image img {
	max-width: 100%;
	height: auto;
}

.magento-wrapper ul.products li.product .price .current-price {
	font-size: 16px;
}

.magento-wrapper ul.products li.product .price .regular-price {
	text-decoration: line-through;
	font-size: 14px;
	padding-left: 5px;
}

.magento-wrapper ul.products li.product .url {
	text-align: center;
	margin: 24px 0;
}

.magento-wrapper ul.products li.product .url a {
	padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
}

.store-attribute-required {
	color: #d00000;
	padding: 3px 10px;
	border-left: 3px solid #d00000;
}

@media (min-width: 576px) {
	.magento-wrapper ul.products {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.magento-wrapper ul.products li.product {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		width: 50%;
	}
}

@media (min-width: 768px) {
	.magento-wrapper ul.products li.product {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.33333333%;
		flex: 0 0 33.33333333%;
		width: 33.33333333%;
	}
}
