.magento-wrapper {
    width: 100%;
}

.magento-wrapper:before,
.magento-wrapper:after,
.magento-wrapper ul.products:before,
.magento-wrapper ul.products:after {
    display: table;
    content: " ";
}

.magento-wrapper ul.products:after,
.magento-wrapper:after {
    clear: both;
}

.magento-wrapper * {
    box-sizing: border-box;
}

.magento-wrapper *:before,
.magento-wrapper *:after {
    box-sizing: border-box;
}

.magento-wrapper ul.products {
    margin: 0;
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.magento-wrapper ul.products li.product {
    list-style: none;
    display: block;
    margin: 0 0 10px 0;
    padding: 0 5px;
    width: 33%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.magento-wrapper ul.products li.product .price .current-price {
    font-size: 16px;
}

.magento-wrapper ul.products li.product .price .regular-price {
    text-decoration: line-through;
    font-size: 14px;
    padding-left: 5px;
}

.magento-wrapper ul.products li.product .url {
    text-align: center;
    margin: 24px 0;
}

.magento-wrapper ul.products li.product .url a {
    padding: 10px 20px;
    text-decoration: none;
}
